@using MiniHbys.Entity
@model GetMedicineItemsByPatientViewModel

@{
    ViewBag.Title = "Medicine Items By Patient";
    Layout = "_Layout";
    var patients = (List<Patient>)ViewBag.Patients;
    var patientSelectListItems = new List<SelectListItem>();

    foreach (var patient in patients)
    {
        var patientName = string.Format("{0} {1}", patient.PatientName, patient.PatientSurname);
        patientSelectListItems.Add(new SelectListItem(text:patientName,value:patient.PatientID.ToString()));
    }
}

@using (Html.BeginForm(actionName: "GetMedicineItemsByPatientReport", controllerName: "Report", routeValues: null, method: FormMethod.Post))
{
    <div style="padding: 20px">
        <label>Patient</label>
        <div class="form-group">
            @Html.DropDownListFor(x => x.PatientID, patientSelectListItems, htmlAttributes: new
            {
                @class = "form-control",
                placeholder =
                    "Patient"
            })
        </div>
        <div style="float: right">
            <button type="submit" class="btn btn-success">Get Report</button>
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger alert-dismissible" style="width: 50%">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                @ViewBag.Message
            </div>
        }
    </div>
}
